<a class='logout' asp-action="Logout" asp-controller="Home">Logout</a> <a class='logout' asp-action='Dash' asp-controller="Idea">Bright Ideas</a> 
<h3>Name: @ViewBag.user.Name</h3>
<h3>Alias: @ViewBag.user.Alias</h3>
<h3>Email: @ViewBag.user.Email</h3>
<hr>
<h3>Total Number of Posts: @ViewBag.posts</h3>
<h3>Total Number of Likes: @ViewBag.likes</h3>